table {
    width: 100%;
  }
  
  .div-table{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .div-botoes{
    display: flex;
    justify-content: center;
  }
  
  .botao-remover{
    margin-left: 10px;
  }
  