
  <div class="main">
    <section>
      <div class="divider"></div>
      <div class="background scale"></div>
      <div class="divider"></div>
    </section>

    <section>
      <div class="itemContainer">
        <a href="https://dcarnesdelivery.kyte.site/">
          <label class="button">LOJA ON-LINE</label>
        </a>
        <div class="imageContainer img1"></div>
        <h5>D' CARNES DELIVARY</h5>
      </div>
      <div class="itemContainer item2">
        <a routerLink="/home">
          <label class="button">RIFAS ON-LINE</label>
        </a>
        <div class="imageContainer img2"></div>
        <h5>DC PROMOÇÕES DE VENDAS</h5>
      </div>
    </section>
  </div>
