<mat-tab-group>
    <mat-tab label="Sorteio">
        <app-header (cadastrar)="acesssarRotaCadastro()"></app-header>
        <app-listar-sorteio [sorteios]="sorteios" (remover)="deletarSorteio($event)"
            (editar)="acessarRotaEdicao($event)" (remover)="deletarSorteio($event)"
            (consultar)="getPremioBySorteioId($event)">
        </app-listar-sorteio>
    </mat-tab>

    <mat-tab label="Premios">
        <app-listar-premios [premios]="premios" (editar)="acessarRotaEdicaoPremio($event)"
            (remover)="deletarPremio($event)">
        </app-listar-premios>
    </mat-tab>

</mat-tab-group>