.confiContainerFluid{
  padding-bottom: 40px;
}

table {
  width: 100%;
}

.div-table{
  margin-bottom: 15px;
}

.div-botoes{
  display: flex;
  justify-content: center;
}

.botao-remover{
  margin-left: 10px;
}

.botao-relatorio{
  margin-left: 10px;
}

.botao-sorteio{
  margin-left: 10px;
}
