<div class="main">
  <div class="headerContainer">
    <div class="columnImg">
      <div class="imgContainer">
        <div class="premiacaoLabelContainer">
          <label class="premiacaoTitle">Premiação:</label>
        </div>
        <img src="../../../assets/imagens/premiacao.jpeg">
      </div>
    </div>
    <div class="headerInfoContainer">
      <h1 class="rifaTitle">RIFA - PS4/TV 4k 70p</h1>
        <div class="numbers-container">
          <div class="buttonsContainer">
            <div class="column">
              <button mat-raised-button color="primary" class='m-3 button topButton' (click)="reset()">Todos</button>
              <button mat-raised-button color="primary" class='m-3 button topButton' (click)="filterByStatus('disponivel')">Disponível</button>
              <button mat-raised-button color="primary" class='m-3 button topButton' (click)="filterByStatus('reservado')">Reservados</button>
              <button mat-raised-button color="primary" class='m-3 button topButton' (click)="filterByStatus('pago')">Pagos</button>
              <button mat-raised-button color="primary" class='m-3 button topButton' (click)="filterByStatus('selected')">Selecionados</button>
            </div>
          </div>
          <div class="spacer-1em"></div>
            <div class="flex flex-wrap">
              <div *ngIf="this.filteredItems == []">
                Carregando...
            </div>
            <label class='divider'></label>
            <div class="controlLabelContianer">
              <div class="labelContainer">
                <label class="number-input" title="Felipe D'Oliveira Graça" (click)="selectNumber(item.id)"
                [ngClass]="{'green-label' : item.status == 'disponivel', 'gray-label' : item.status == 'reservado', 'yellow-label-not-allowed' : item.status == 'pago', 'blue-label' : item.status == 'selected'}"
                  *ngFor="let item of filteredItems">
                  {{ item.value }}
                  <i class="bi bi-cash"
                  [ngClass]="{ 'bi bi-cash' : item.status == 'disponivel', 'bi bi-clock' : item.status == 'reservado', 'bi bi-cash-coin' : item.status == 'pago', 'bi bi-check2' : item.status == 'selected'}"
                  ></i>
                </label>
              </div>
            </div>
          </div>
          <label class='divider'></label>
          <div class="bottomButtons">
            <button mat-raised-button color="primary" class='m-3 button' [disabled]="!enabledButton()" (click)="reservNumbers()">Reservar</button>
            <button mat-raised-button color="primary" class='m-3 button' [disabled]="!enabledCompra()" (click)="acessarRotaCheckout()">Pagar</button>
          </div>
        </div>
  </div>
<!-- 		<div class="spacer-1em"></div>

		<div class="flex justify-content-center">
			<button class="submit-button"  [disabled]="!enabledButton()" (click)="reservNumbers()" >Reservar</button>
      <button class="submit-button"  [disabled]="!enabledButton()" (click)="acessarRotaCheckout()" >Pagar</button>
		</div> -->
	</div>

  </div>


<router-outlet></router-outlet>
