<div class="card">
  <div class="card-header">
    Recuperar minha senha
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <h5 class="card-title"><i class="bi bi-person-fill"></i>CPF</h5>
        <input type="text" class="form-control" aria-describedby="cpfHelper" placeholder="Seu CPF" mask='000-000-000-00'>
      </div>
      <div class="mb-3">
        <h5 class="card-title"><i class="bi bi-person-fill"></i>E-mail</h5>
        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Seu E-mail">
      </div>
      <button type="submit" id="loginButton" class="btn btn-primary">Recuperar</button>
      <button type="submit" id="registerButton" class="btn btn-primary" routerLink='/userAcess/login'>Voltar</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>

