

.card {
  width: 400px;
  height: 270px;
  font-family: 'Georgia', serif;
}

.card-header{
  text-align: center;
  background-color: #444D58;
  color: #FFFF;
}

#loginButton{
  background-color: #444D58;
  font-weight: 200;
  border-color: transparent;
}

#registerButton{
  margin-left: 10px;
  background-color: purple;
  font-weight: 200;
  border-color: transparent;
}

h5{
  font-size: 15px;
  font-weight: 500;
}




