.div-botoes{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    margin-left: -10px;
    margin-top: 10px;
}
.botao-gravar{
    margin-left: 10px;
}

.card-premio{
    width: 100%;
    background: transparent;
    margin-top: 20px;
}