<div class="mainContainer">
  <div class="titlePageContainer">
    <i class="bi bi-person-lines-fill configTitlePageIcon"></i>
    <div class="titleLabelContainer">
      <label class="titlePage">Detalhes da conta</label>
      <label class="surname">Apelido: <label class="userSurname">{{'oi'}}</label></label>
    </div>
    <div class="dividerLogo">
      <img class="img-logo" src="assets/imagens/logo.png">
    </div>
  </div>
  <div class="divider"></div>
  <div class="form" [formGroup]="formDetails">
    <div class="userDetailsContainer">
      <label class='titleInpts'>Nome:</label>
      <div class="input-group mb-3 formInputConfig">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
        </div>
        <input type="text" class="form-control "   aria-label="Username" aria-describedby="basic-addon1" formControlName='nome'>
      </div>
      <label class='titleInpts'>CPF:</label>
      <div class="input-group mb-3 formInputConfig">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
        </div>
        <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" mask='000.000.000-00' formControlName='cpf'>
      </div>
      <label class='titleInpts'>E-Mail:</label>
      <div class="input-group mb-3 formInputConfig">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" formControlName='email'>
      </div>
      <label class='titleInpts'>Cidade:</label>
      <div class="input-group mb-3 formInputConfig">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" formControlName='cidade'>
      </div>
      <label class='titleInpts'>Telefone:</label>
      <div class="input-group mb-3 formInputConfig">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" mask='(00) 00000-0000' formControlName='telefone'>
      </div>
        <div class="buttonContainer">
          <label class="editingButtom" (click)="enabledToEditing()">
            Editar
          </label>
          <button class='editingButtom'>Senha</button>
          <button class='editingButtom' [disabled]='!initButtonEditing'>Salvar</button>
        </div>
    </div>
  </div>
</div>
